body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    background-color: cadetblue;
}

#header {
    background-color: lightskyblue;
    width: 100%;
    height: 70px;
}

#main {
    background-size: auto;
    width: 70%;
    height: 100%;
    float: left;
}



#footer {
    clear: both;
    background-color: lightskyblue;
    width: 100%;
    height: 70px;
    text-align: right;
    margin: 7px auto;
}

.center {
    align-content: center;
    align-self: center;
}
